#treemap-container {
    width: 60vw; /* 60% da largura da tela */
    height: 60vh; /* 60% da altura da tela */
    position: relative;
    border: 1px solid #ddd;
    overflow: hidden; /* Esconde qualquer parte dos quadrados que saiam do contêiner */
    background-color: #f9f9f9; /* Cor de fundo para visibilidade */
}

.clube {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
}
